# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# Database
*.db
*.sqlite3

# Node.js
node_modules/

# Frontend build
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db